@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background: linear-gradient(-45deg, #073985, #800080, #073985, #800080);
  background-size: 400% 400%;
  animation: gradient 120s ease infinite;
}

@layer base {
  body {
    @apply antialiased;
  }
}